body {
	font-family: "Arial", Helvetica, sans-serif;
}

a {
	color: #ffffff;
}


.allElementsContainer {
    display: flex;
    flex-direction: column;
	justify-content: center;
    width: 140px;
}

.projectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 120px;
    height: 130px;
    pointer-events: auto;
    margin: 10px;
}

.infoDiv {
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
	border-radius: 50%;
}

.swipeDiv {
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    left: 0px;
    width: 400%;
    transition: .5s;
}

.swipeDiv.rightSwipeTranslate {
    transition: .5s;
    left: 0;  
}
.swipeDiv.leftSwipeTranslate {
    transition: .5s;
    left: -100%;
}
.contentContainer {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: lightgray;
    width: 25%;

}

.arrowDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    pointer-events: auto;
    
}

.leftArrow {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:20px solid white;  
  pointer-events: auto;
}

.rightArrow {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left:20px solid white;
  pointer-events: auto;
}

h3 {
    font-size: 15px;
    margin: 5px 0px 0px 5px;
}

.ARParagraphs {
    font-size: 10px;
    padding: 5px;
}

img {
    width: 100%;
    height: 100%;
}

.statusContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 7px;
}

.statusDivs {
    width: 25%;
    height: 7px;
    background-color: #FFD259; 
    opacity: .75;
}
